.contacts.clearfix
  .contacts__heading CONTACT
  .contacts__org ORGANIZATOR: CONNECTED AGENCY
    br
    a(href="mailto:bookingconnected@gmail.com")  bookingconnected@gmail.com
  .contacts__press FOR PRESS: 
    a(href="mmwpress2017@gmail.com")  mmwpress2017@gmail.com
