header.header.clearfix
  ul.header__social
    li.header__social-item
      a.header__social-link.header__social-link--fb facebook
    li.header__social-item
      a.header__social-link.header__social-link--tw  twitter
    li.header__social-item
      a.header__social-link.header__social-link--inst instagram
    li.header__social-item
      a.header__social-link.header__social-link--vk vkontakte
  ul.header__list
    li.header__list-item
      a.header__list-link FESTIVAL
    li.header__list-item
      a.header__list-link CONFERENCE
    li.header__list-item
      a.header__list-link PASSES & TICKETS
    li.header__list-item
      a.header__list-link ABOUT
    li.header__list-item
      a.header__list-link APP 
    li.header__list-item
      a.header__list-link STORE
  form.header__search(action="#")
    input.header__search-input(placeholder="search", type="text")
    button.header__search-button(type="submit")
  
