head
  title Moscow Music Week
  meta(charset='utf-8')
  meta(content='width=3772px' name='viewport')
  link(href="assets/fonts/stylesheet.css" rel="stylesheet")
  link(href="assets/css/style.css" rel="stylesheet")
