header.header
  ul.header__social
    li.header__social-item
      a.hedaer__social-link facebook
    li.header__social-item
      a.hedaer__social-link twitter
    li.header__social-item
      a.hedaer__social-link instagram
    li.header__social-item
      a.hedaer__social-link vkontakte
  ul.header__list
    li.header__list-item
      a.header__list-link FESTIVAL
    li.header__list-item
      a.header__list-link CONFERENCE
    li.header__list-item
      a.header__list-link PASSES & TICKETS
    li.header__list-item
      a.header__list-link ABOUT
    li.header__list-item
      a.header__list-link APP 
    li.header__list-item
      a.header__list-link STORE
  form.header__search
    input.header__search-input(placeholder=search)
    button.header__search-button
  
