main.main
  a.main__logo moscow music week
    img.main__logo-img
  .main__date SEPTEMBER 7 - 10, 2017
  .main__center-block
    .wrap
     .main__left-desc THE ONLY SHOWCASE FESTIVAL
     .main__center-desc 
       .main__text 
         span WELCOME TO REGISTER!
         ARTISTS APPLICATION
       .main__block
         .main__block-text Please send other links to your social networks 
         .main__block-desc / facebook / vk.com / / bandcamp and atc / 
       .main__block
         .main__block-text To your web-sight (if you have it) from 2 to 5 links to your videos
       .main__block
         .main__block-text Your band crew distribution A short bio 
         .main__block-desc (500-700 symbols)
       .main__block
         .main__block-text Tech rider 
       .main__block
         .main__block-text Please send all the info to: 
         .main__block-desc applyformmw@gmail.com 
     .main__right-desc THE BIGGEST CONFERENCE IN RUSSIA
