main.index.main
  a.main__logo moscow music week
    img.main__logo-img
  .main__date SEPTEMBER 7 - 10, 2017
  .main__center-block
    .wrap
     .main__left-desc THE ONLY SHOWCASE FESTIVAL
     .main__center-block ARTISTS APPLICATION
     .main__right-desc THE BIGGEST CONFERENCE IN RUSSIA
